---
import Header from "../layouts/Header.astro";
---

<Header title="Mi Formulario">
  <form action="">
    <fieldset>
      <legend>Tu consulta</legend>
      <div class="form-container">
        <label
          >Nombre/s
          <input type="text" placeholder="Nombre" />
        </label>
        <label
          >Apellido/s
          <input type="text" placeholder="Apellido" />
        </label>
        <label
          >Email or Username
          <input type="email" placeholder="tumail@gmail.com" />
        </label>
        <label
          >Asunto
          <input type="text" placeholder="Asunto" />
        </label>
        <label>
          Cumpleaños
          <input type="date" />
        </label>
      </div>
      <textarea name="mensaje" rows="4" cols="50"></textarea>

      <button>Send</button>
    </fieldset>
  </form>
</Header>

<style>
  form {
    width: 70%;
    margin: 0 auto;
    margin-top: 1em;

    fieldset {
      font-size: 1.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 1em;

      .form-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        label {
          font-size: 1rem;
          margin-top: 1em;
          cursor: pointer;
          input {
            padding: 0.3em;
          }
        }
      }

      textarea {
        margin-top: 1em;
      }
      button {
        margin-top: 1em;
        padding: 0.3em;
      }
    }
  }
</style>
