---
import InputsName from "../components/InputsName.astro";
import Header from "../layouts/Header.astro";
---

<Header title="Mi Formulario">
  <form action="">
    <fieldset>
      <legend>Tu consulta</legend>
      <div class="form-container">
        <InputsName />
        <label
          >Email or Username
          <input type="email" placeholder="tumail@gmail.com" />
        </label>
        <label
          >Asunto
          <input type="text" placeholder="Asunto" />
        </label>
        <label>
          Cumpleaños
          <input type="date" />
        </label>
      </div>
      <textarea
        name="mensaje"
        rows="4"
        cols="50"
        placeholder="Contenido del asunto..."></textarea>

      <button>Send</button>
    </fieldset>
  </form>
</Header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const misInputs = document.querySelectorAll("input");

    misInputs.forEach((input, indice) => {
      input.addEventListener("keypress", (evento) => {
        if (evento.key === "Enter") {
          evento.preventDefault();
          if (indice < misInputs.length - 1) {
            misInputs[indice + 1].focus();
          }
        }
      });
    });
  });
</script>


<style>
  form {
    width: 70%;
    margin: 0 auto;
    margin-top: 1em;

    fieldset {
      font-size: 1.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 1em;

      .form-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        label {
          font-size: 1rem;
          margin-top: 1em;
          cursor: pointer;

          input {
            padding: 0.3em;
          }
        }
      }

      textarea {
        margin-top: 1em;
      }

      button {
        margin-top: 1em;
        padding: 0.3em;
      }
    }
  }
</style>
