---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<h1 class="title">My form</h1>
			<h2 class="sub-title">This is a form</h2>
		</header>
	</body>
</html>

<style>
	header {
		.title {
			font-size: 3rem;
			color: ;
		}
		.sub-title {
			font-size: 1.5rem;
		}
	}
</style>
